In [151]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [152]:
# read data.xlsx as pandas dataframe
df = pd.read_excel("sbml_data.xlsx")
df.head(10)

,organism,seedid,kingdom,phylum,mclass,order,family,genus,oxygenstat,metabolism_original,...,genes,reactions,metabolites,draftcreator,draftcreated,phenotype,imgid,ncbiid,platform,kbaseid
0,Abiotrophia defectiva ATCC 49176,Abiotrophia defectiva ATCC 49176 (592010.4),Bacteria,Firmicutes,Bacilli,Lactobacillales,Aerococcaceae,Abiotrophia,Facultative anaerobe,"Saccharolytic, fermentative or respiratory",...,631,2428,1250,Eugen Bauer,2014-07-01 00:00:00,1.0,2.562617e+09,592010.0,ModelSEED,NaN
1,Achromobacter xylosoxidans A8,Achromobacter xylosoxidans A8 (762376.5),Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Alcaligenaceae,Achromobacter,Aerobe,Respiratory,...,1663,1668,1229,NaN,NaN,NaN,NaN,762376.0,ModelSEED,kb_g_3268_model_gf
2,Achromobacter xylosoxidans NBRC 15126 = ATCC 2...,NaN,Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Alcaligenaceae,Achromobacter,Aerobe,Respiratory,...,1380,1674,1216,NaN,NaN,NaN,NaN,1216976.0,Kbase,kb|g.208127
3,Acidaminococcus fermentans DSM 20731,Acidaminococcus fermentans DSM 20731 (591001.3),Bacteria,Firmicutes,Negativicutes,Acidaminococcales,Acidaminococcaceae,Acidaminococcus,Obligate anaerobe,Fermentative,...,645,1102,905,Laura Kutt,2016-04-17 00:00:00,NaN,6.463119e+08,591001.0,Kbase,kb|g.2555
4,Acidaminococcus intestini RyC-MR95,Acidaminococcus intestini RyC-MR95 (568816.4),Bacteria,Firmicutes,Negativicutes,Selenomonadales,Acidaminococcaceae,Acidaminococcus,Obligate anaerobe,"Asaccharolytic, glutamate is fermented",...,600,1001,828,Eugen Bauer,2014-08-03 00:00:00,4.0,2.511231e+09,568816.0,Kbase,NaN
5,Acidaminococcus sp. D21,Acidaminococcus sp. D21 (563191.3),Bacteria,Firmicutes,Negativicutes,Selenomonadales,Acidaminococcaceae,Acidaminococcus,Obligate anaerobe,"Asaccharolytic, glutamate is fermented",...,562,860,770,Ines Thiele,2012-06-29 00:00:00,3.0,6.438861e+08,563191.0,Kbase,NaN
6,Acinetobacter baumannii AB0057,Acinetobacter baumannii AB0057 (480119.5),Bacteria,Proteobacteria,Gammaproteobacteria,Pseudomonadales,Moraxellaceae,Acinetobacter,Aerobe,Respiratory,...,1021,1593,1181,NaN,NaN,NaN,NaN,480119.0,Kbase,kb|g.1744
7,Acinetobacter calcoaceticus PHEA-2,Acinetobacter calcoaceticus PHEA-2 (871585.3),Bacteria,Proteobacteria,Gammaproteobacteria,Pseudomonadales,Moraxellaceae,Acinetobacter,Aerobe,Respiratory,...,1026,1586,1164,Laura Kutt,2016-04-18 00:00:00,NaN,6.503779e+08,871585.0,Kbase,kb|g.3519
8,Acinetobacter haemolyticus NIPH 261,Acinetobacter haemolyticus NIPH 261 (1217986.3),Bacteria,Proteobacteria,Gammaproteobacteria,Pseudomonadales,Moraxellaceae,Acinetobacter,Aerobe,Respiratory,...,876,1382,1073,Laura Kutt,2016-04-18 00:00:00,NaN,2.537562e+09,1217986.0,ModelSEED,kb|g.31235
9,Acinetobacter johnsonii SH046,Acinetobacter johnsonii SH046 (575586.4),Bacteria,Proteobacteria,Gammaproteobacteria,Pseudomonadales,Moraxellaceae,Acinetobacter,Aerobe,Asaccharolytic,...,863,1446,1068,Laura Kutt,2016-04-18 00:00:00,NaN,6.462063e+08,575586.0,ModelSEED,kb|g.2448

In [153]:
# see the top rows of the pandas dataframe
df.head()

,organism,seedid,kingdom,phylum,mclass,order,family,genus,oxygenstat,metabolism_original,...,genes,reactions,metabolites,draftcreator,draftcreated,phenotype,imgid,ncbiid,platform,kbaseid
0,Abiotrophia defectiva ATCC 49176,Abiotrophia defectiva ATCC 49176 (592010.4),Bacteria,Firmicutes,Bacilli,Lactobacillales,Aerococcaceae,Abiotrophia,Facultative anaerobe,"Saccharolytic, fermentative or respiratory",...,631,2428,1250,Eugen Bauer,2014-07-01 00:00:00,1.0,2.562617e+09,592010.0,ModelSEED,NaN
1,Achromobacter xylosoxidans A8,Achromobacter xylosoxidans A8 (762376.5),Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Alcaligenaceae,Achromobacter,Aerobe,Respiratory,...,1663,1668,1229,NaN,NaN,NaN,NaN,762376.0,ModelSEED,kb_g_3268_model_gf
2,Achromobacter xylosoxidans NBRC 15126 = ATCC 2...,NaN,Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Alcaligenaceae,Achromobacter,Aerobe,Respiratory,...,1380,1674,1216,NaN,NaN,NaN,NaN,1216976.0,Kbase,kb|g.208127
3,Acidaminococcus fermentans DSM 20731,Acidaminococcus fermentans DSM 20731 (591001.3),Bacteria,Firmicutes,Negativicutes,Acidaminococcales,Acidaminococcaceae,Acidaminococcus,Obligate anaerobe,Fermentative,...,645,1102,905,Laura Kutt,2016-04-17 00:00:00,NaN,6.463119e+08,591001.0,Kbase,kb|g.2555
4,Acidaminococcus intestini RyC-MR95,Acidaminococcus intestini RyC-MR95 (568816.4),Bacteria,Firmicutes,Negativicutes,Selenomonadales,Acidaminococcaceae,Acidaminococcus,Obligate anaerobe,"Asaccharolytic, glutamate is fermented",...,600,1001,828,Eugen Bauer,2014-08-03 00:00:00,4.0,2.511231e+09,568816.0,Kbase,NaN

In [154]:
# get categories of the column phylum
phyla = df["phylum"].value_counts().sort_values() #index #count()
print(phyla)

Crenarchaeota              1
Nitrososphaeria            1
Fusobacteriia              1
Verrucomicrobia            1
Synergistia                1
Deltaproteobacteria        1
Spirochaetes               1
Halobacteria               1
Melainabacteria            1
Methanobacteria            1
Thermoplasmata             1
Coriobacteriia             1
Planctomycetes             1
Epsilonproteobacteria      1
Synergistetes              2
Euryarchaeota              2
Alphaproteobacteria        3
Negativicutes              3
Tissierellia               3
Tenericutes                4
Betaproteobacteria         4
Erysipelotrichia           6
Fusobacteria              18
Bacteroidia               18
Gammaproteobacteria       24
Clostridia                29
Bacilli                   34
Bacteroidetes             98
Actinobacteria           118
Proteobacteria           141
Firmicutes               297
Name: phylum, dtype: int64

In [155]:
# create bar plot for phyla
plt.figure(figsize=(10,10))
plt.barh(phyla.index,phyla)

In [156]:
# combine categories of the column phylum with small number of organisms
reduced_phyla = phyla[phyla > 5]
reduced_phyla = reduced_phyla.append(pd.Series(phyla[phyla <= 5].sum(), index=["Other"]))
print(reduced_phyla)

Erysipelotrichia         6
Fusobacteria            18
Bacteroidia             18
Gammaproteobacteria     24
Clostridia              29
Bacilli                 34
Bacteroidetes           98
Actinobacteria         118
Proteobacteria         141
Firmicutes             297
Other                   35
dtype: int64

/tmp/ipykernel_6566/729182541.py:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  reduced_phyla = reduced_phyla.append(pd.Series(phyla[phyla <= 5].sum(), index=["Other"]))

In [157]:
# create pie plot for phyla
plt.figure(figsize=(5,5))
plt.pie(reduced_phyla,labels=reduced_phyla.index)

([<matplotlib.patches.Wedge at 0x7fc8b5a61ea0>,
  <matplotlib.patches.Wedge at 0x7fc8b5a62380>,
  <matplotlib.patches.Wedge at 0x7fc8b5a62860>,
  <matplotlib.patches.Wedge at 0x7fc8b5a62d40>,
  <matplotlib.patches.Wedge at 0x7fc8b5a63220>,
  <matplotlib.patches.Wedge at 0x7fc8b5a63700>,
  <matplotlib.patches.Wedge at 0x7fc8b5a63be0>,
  <matplotlib.patches.Wedge at 0x7fc8b5a08100>,
  <matplotlib.patches.Wedge at 0x7fc8b5a085e0>,
  <matplotlib.patches.Wedge at 0x7fc8b5a08ac0>,
  <matplotlib.patches.Wedge at 0x7fc8b5a61e70>],
 [Text(1.0997079621639747, 0.025345570681247338, 'Erysipelotrichia'),
  Text(1.092706804869633, 0.12645884149239262, 'Fusobacteria'),
  Text(1.0648506655438716, 0.27584970562024147, 'Bacteroidia'),
  Text(1.006724437265094, 0.4432898683855518, 'Gammaproteobacteria'),
  Text(0.8963304904664804, 0.6376453966430864, 'Clostridia'),
  Text(0.7174399196500032, 0.8338344929856266, 'Bacilli'),
  Text(0.22236271354153817, 1.0772905010378788, 'Bacteroidetes'),
  Text(-0.6445113994797278, 0.8914062238624334, 'Actinobacteria'),
  Text(-1.0986292665988164, -0.05489749149594166, 'Proteobacteria'),
  Text(0.17666628513689317, -1.0857205090150643, 'Firmicutes'),
  Text(1.0900771203463506, -0.14741733852369, 'Other')])

Here we will implement k-mode clustering as proposed by the paper https://cse.hkust.edu.hk/~qyang/Teaching/537/Papers/huang98extensions.pdf

In [158]:
# Extract columns phylum, oxygen status, metabolism, mtype from the dataframe for clustering
df_cluster = df[["phylum","oxygenstat","metabolism","mtype"]]
df_cluster = df_cluster.fillna("No Data")
df_cluster.head()

,phylum,oxygenstat,metabolism,mtype
0,Firmicutes,Facultative anaerobe,"Saccharolytic, fermentative or respiratory",Pathogen
1,Proteobacteria,Aerobe,Respiratory,No Data
2,Proteobacteria,Aerobe,Respiratory,No Data
3,Firmicutes,Obligate anaerobe,Fermentative,No Data
4,Firmicutes,Obligate anaerobe,"Asaccharolytic, fermentative",Commensal

In [159]:
# Convert the dataframe to a numpy array
dfMatrix = df_cluster.values
print(dfMatrix.shape)
print(dfMatrix[0:10])

(818, 4)
[['Firmicutes' 'Facultative anaerobe'
  'Saccharolytic, fermentative or respiratory' 'Pathogen']
 ['Proteobacteria' 'Aerobe' 'Respiratory' 'No Data']
 ['Proteobacteria' 'Aerobe' 'Respiratory' 'No Data']
 ['Firmicutes' 'Obligate anaerobe' 'Fermentative' 'No Data']
 ['Firmicutes' 'Obligate anaerobe' 'Asaccharolytic, fermentative'
  'Commensal']
 ['Firmicutes' 'Obligate anaerobe' 'Asaccharolytic, fermentative'
  'Commensal']
 ['Proteobacteria' 'Aerobe' 'Respiratory' 'No Data']
 ['Proteobacteria' 'Aerobe' 'Respiratory' 'No Data']
 ['Proteobacteria' 'Aerobe' 'Respiratory' 'No Data']
 ['Proteobacteria' 'Aerobe' 'Asaccharolytic' 'No Data']]

In [160]:
from kmodes.kmodes import KModes

# Choosing optimal K for clustering
cost = []
for cluster in range(1, 20):

    kmodes = KModes(n_jobs = -1, n_clusters = cluster, init = 'Huang', random_state = 0)
    kmodes.fit_predict(dfMatrix)
    cost.append(kmodes.cost_)
    print('Cluster initiation: {}'.format(cluster))


print(cost)

# Visualize the cost of clusters
plt.plot(range(len(cost)), cost)
plt.xlabel('Number of clusters')
plt.ylabel('Cost')
plt.title('Cost of clusters')
# gridlines
# make x axis ticks integers
plt.xticks(range(len(cost)), range(1, len(cost) + 1))
plt.grid(True)

# plt.show()

Cluster initiation: 1
Cluster initiation: 2
Cluster initiation: 3
Cluster initiation: 4
Cluster initiation: 5
Cluster initiation: 6
Cluster initiation: 7
Cluster initiation: 8
Cluster initiation: 9
Cluster initiation: 10
Cluster initiation: 11
Cluster initiation: 12
Cluster initiation: 13
Cluster initiation: 14
Cluster initiation: 15
Cluster initiation: 16
Cluster initiation: 17
Cluster initiation: 18
Cluster initiation: 19
[1996.0, 1512.0, 1312.0, 1202.0, 1139.0, 988.0, 941.0, 849.0, 843.0, 823.0, 742.0, 779.0, 687.0, 662.0, 672.0, 631.0, 619.0, 616.0, 593.0]

We can qualitatively determine that 8 clusters would be optimal, hence we commence clustering with 8 clusters

In [163]:
# Fit the 8 clusters
kmodes = KModes(n_jobs = -1, n_clusters = 8, init = 'Huang', random_state = 0)
cluster_labels = kmodes.fit_predict(dfMatrix)
clusters = pd.DataFrame(kmodes.cluster_centroids_)
clusters.columns = ["phylum","oxygenstat","metabolism","mtype"]
clusters.head(8)
# Below displays the 8 cluster centroids

,phylum,oxygenstat,metabolism,mtype
0,Firmicutes,Facultative anaerobe,"Saccharolytic, fermentative or respiratory",No Data
1,Proteobacteria,Aerobe,Respiratory,No Data
2,Firmicutes,Obligate anaerobe,"Saccharolytic, fermentative",No Data
3,Bacteroidetes,Obligate anaerobe,Asaccharolytic,No Data
4,Firmicutes,Obligate anaerobe,"Saccharolytic, fermentative",Commensal
5,Actinobacteria,Obligate anaerobe,"Saccharolytic, fermentative",Probiotic
6,Proteobacteria,Facultative anaerobe,Fermentative or respiratory,No Data
7,Bacteroidetes,Nanaerobe,"Saccharolytic, fermentative",Commensal

In [162]:
from matplotlib import cm
from matplotlib.pyplot import scatter

# plot a 3D scatter plot using columns "genes", "reactions", and "metabolites" from df
x = df["genes"].to_numpy()
y = df["reactions"].to_numpy()
z = df["metabolites"].to_numpy()
%matplotlib tk
fig = plt.figure(figsize=(10,10))
ax = fig.add_subplot(111, projection='3d')

viridis = cm.get_cmap('viridis', 8)

for cluster in np.unique(cluster_labels):
    i = np.where(cluster_labels == cluster)
    ax.scatter(x[i], y[i], z[i], label = f"cluster {cluster}", color=viridis(cluster), alpha=1)



ax.legend()
ax.set_xlabel('genes')
ax.set_ylabel('reactions')
ax.set_zlabel('metabolites')
ax.set_title("8-mode Cluster Visualization of the Human Gut Micro-organisms Involed in this Study")


ax.view_init(80, 30)


plt.show()